{% extends 'base.html' %}

{% block content %}

<p>MONTE A SUA ROTINA DE TREINOS.</p>

<h2>Cadastrar Treino</h2>

<form action="/treino" method="post">
    <input type="text" name="dia_semana" placeholder="Dia da semana"><br>
    <input type="text" name="nome_treino" placeholder="Nome do treino">
    <button type="submit">Cadastrar</button>
</form>

<h2>Treinos</h2>

{% for treino in treinos %}
<div style="display: flex; align-items: center; gap: 5px;">
    <a href="/treino/{{ treino.id }}">
        {{ treino.dia_semana }} - {{ treino.nome }}
    </a>

    <form action="/treino/{{ treino.id }}/delete" method="post">
    <button type="submit">Finalizar treino</button>
</form>

</div>
{% endfor %}

{% endblock %}
