<h1>DEVGYM</h1>
Entre com o seu Login:

<form action="/login" method="post">
    <input type="email" name="email" placeholder="E-mail" autocomplete="username">
    <input type="password" name="senha" placeholder="Senha" autocomplete="current-password">
    <button type="submit">Entrar</button>
</form>

Cadastre-se:

<form action="/cadastro" method="post">
    <input type="text" name="nome" placeholder="Nome" required autocomplete="Nome">
    <input type="email" name="email" placeholder="E-mail" required autocomplete="new-email">
    <input type="password" name="senha" placeholder="Senha" required autocomplete="new-password">
    <input type="password" name="senha_confirm" placeholder="Confirme a senha" required autocomplete="new-password">
    <button type="submit">Registrar</button>
    <p><a href="/recuperar-senha">Esqueceu a senha?</a></p>
</form>

{% if erro %}
    <p style="color:red;">{{ erro }}</p>
{% endif %}

{% if sucesso %}
    <p style="color:green;">Cadastro realizado com sucesso!</p>
    <p style="color: black">Você receberá um link para confirmar o seu email.</p>
{% endif %}